body {
    font-family: "Urbanist", sans-serif;
}

.restro-input {
    border: 1px solid #fdba74;
    padding: 12px 8px;
    background-color: transparent;
    color: #fff;
    &:focus {
        outline: none;
    }
}

.banner-section {
    &::after {
        background: linear-gradient( to top, color-mix(in srgb, rgb(24,49,46) 100%, transparent), transparent );
    }
    &::before {
        background: url(../../public/images/hero-bg.jpg) no-repeat center center;
    }
}

.marquee-content {
    animation: scroll-marquee 30s linear infinite;
}

@keyframes scroll-marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.book-table:before {
    background: url(../images/book-badge.png) no-repeat center center;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.hamburger .meat {
    animation: burger-hover 2s infinite ease-in-out alternate forwards 400ms;
}

.hamburger .bottom-bun {
    animation: burger-hover 2s infinite ease-in-out alternate forwards 600ms;
}

.top-bun {
    animation: burger-hover 2s infinite ease-in-out alternate forwards 200ms;
}

@keyframes burger-hover {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.title {
    &::after,
    &::before {
        content: '';
        background: url(../images/star-element.svg) no-repeat center center;
        display: inline-block;
        height: 15px;
        width: 15px;
    }
}

.info-bar {
    background: rgb(21,44,41) url(../images/pattern-dark.png) center top repeat;
}

.food-menu {
    &:hover {
        .food-img {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
        }
        h3 {
            span {
                border-color: #fdba74;
            }
        }
    }
}

footer {
    background-image: url(../../public/images/footer-banner.jpg);
    &::after {
        background: linear-gradient( to top, color-mix(in srgb, rgb(24,49,46) 100%, transparent), transparent );
    }
    &::before {
        background-image: url(../../public/images/section-shape-img2.png);
    }
}

.about-section {
    .about-title {
        line-height: 60px !important;
    }
    .about-content {
        h2 {
            line-height: 40px;
        }
    }

    .about-line {
        background-image: url(../../public/images/about_line.png);
        background-position: center center;
        // background-size: 100% 100%;
    }
}

.breadcrumb-wrapper {
    background-image: url(../../public/images/breadcumb_bg_2.jpg);
}