<app-header></app-header>
<router-outlet></router-outlet>
<div class="book-table fixed right-5 bottom-5 lg:right-10 lg:bottom-10 w-16 h-16 md:w-20 md:h-20 lg:w-36 lg:h-36 z-20 flex items-center justify-center bg-contain before:content[''] before:absolute before:left-0 before:top-0 before:w-16 before:h-16 before:md:w-20 before:md:h-20 before:lg:w-36 before:lg:h-36 before:z-0 before:bg-contain">
    <span class="icon flex items-center justify-center w-10 h-10 md:w-12 md:h-12 lg:w-20 lg:h-20 z-10">
        <img src="images/book-icon-1.png" alt="image" title="image">
    </span>
</div>
<app-footer></app-footer>