<div class="contact-section bg-white relative py-20">
    <div class="container mx-auto px-5">
        <h5 class="text-orange-300 title inline-flex uppercase items-center justify-center w-full gap-3 relative text-base font-semibold tracking-widest text-center">location</h5>
        <h2 class="text-black text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont my-4">how to find us? </h2>
        <h6 class="text-center text-black max-w-3xl mx-auto tracking-wider leading-7">
            It is inconvenient to not know the address, below is the address an contact of the Basilico restaurant 
        </h6>

        <div class="grid lg:grid-cols-3 gap-5 mt-20 items-center relative z-10">
            <div class="mx-auto flex">
                <img class="border border-orange-300 shrink-0 p-3 rounded-full overflow-hidden h-80 w-80 xl:w-96 xl:h-96 md:w-60 md:h-60 object-cover" src="images/banner-2.png" />
            </div>
            <div class="flex flex-col">
                <h6 class="text-center text-black tracking-wider uppercase">
                    call us book a table & delivery:
                </h6>
                <h2 class="text-black text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont my-4">978-212-8600</h2>
    
                <h6 class="text-center text-black tracking-wider uppercase mb-4">
                    information restaurant:
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer">
                    Address: 4517 Washington Ave. Manchester, Kentucky 39495, USA
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer my-1">
                    Mail: booking&#64;restoria.com
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer">
                    Opening Hour: Mon - Fri : 9.00am - 9.00pm
                </h6>
                <button class="border border-orange-300 text-orange-300 px-8 py-2 mt-3 w-max mx-auto cursor-pointer hover:bg-orange-300 hover:text-black font-semibold transition-all duration-500">
                    Get Direction
                </button>
            </div>
            <div class="mx-auto">
                <iframe class="border border-orange-300 p-3 rounded-full overflow-hidden h-80 w-80 xl:w-96 xl:h-96 md:w-60 md:h-60 object-cover" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14881.084141082214!2d72.7678976!3d21.181389449999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1752755891613!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="right-bg-pattern absolute top-0 right-0 z-0 opacity-50">
        <img src="images/img4.png"/>
    </div>
    <div class="left-bg-pattern absolute bottom-0 left-0 z-0 opacity-50">
        <img src="images/img5.png"/>
    </div>
</div>