<div class="banner-section pt-20 md:pt-40 lg:pt-52">
    <div class="container mx-auto">
        <div class="banner-content mx-auto relative z-10 text-white text-center">
            <h1 class="text-2xl md:text-4xl lg:text-7xl">Delightful Experience</h1>
            <h6 class="text-base my-4">A taste of perfection in every dish - <span class="text-orange-300"> fine dining with a modern twist.</span></h6>
            <button class="border border-orange-300 text-orange-300 px-8 py-2 cursor-pointer hover:bg-orange-300 hover:text-white transition-all duration-500">
                View Menu
            </button>
        </div>
    </div>
    <div class="relative overflow-hidden w-full mt-16 md:mt-32">
        <div class="marquee-content w-max flex gap-5">
            <div class="flex gap-5 shrink-0">
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-1.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-2.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-3.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-4.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-5.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-6.png" />
            </div>
            <div class="flex gap-5 shrink-0">
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-1.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-2.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-3.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-4.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-5.png" />
                <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" src="images/banner-6.png" />
            </div>
        </div>
    </div>
</div>
