<div class="banner-section pt-32 md:pt-40 lg:pt-52 relative after:content[''] after:absolute after:left-0 after:right-0 after:bottom-0 after:h-52 after:z-10 before:content[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full z-0 before:bg-cover">
    <div class="container mx-auto px-5">
        <div class="banner-content mx-auto relative z-10 text-white text-center">
            <h1 class="text-2xl md:text-4xl lg:text-7xl">Delightful Experience</h1>
            <h6 class="text-base my-4">A taste of perfection in every dish - <span class="text-orange-300"> fine dining with a modern twist.</span></h6>
            <button class="border border-orange-300 text-orange-300 px-8 py-2 cursor-pointer hover:bg-orange-300 hover:text-black font-semibold transition-all duration-500">
                View Menu
            </button>
        </div>
    </div>
    <div class="relative overflow-hidden w-full mt-16 md:mt-32">
        <div class="marquee-content w-max flex gap-5">
            <div class="flex gap-5 shrink-0">
                @for(foodImage of foodImages; track foodImage) {
                    <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" [src]="foodImage.image" />
                }
            </div>
            <div class="flex gap-5 shrink-0">
                @for(foodImage of foodImages; track foodImage) {
                    <img class="rounded-t-full w-40 lg:w-80 h-full object-cover" [src]="foodImage.image" />
                }
            </div>
        </div>
    </div>
</div>

<div class="menu-section pt-14 pb-20 md:pt-32 md:pb-40 bg-[rgb(24,49,46)]">
    <div class="container mx-auto px-5">
        <h5 class="text-orange-300 title inline-flex uppercase items-center justify-center w-full gap-3 relative text-base font-semibold tracking-widest text-center">Taste the Best that Surprise you</h5>
        <h2 class="text-white text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont my-4">Our special menu</h2>
        <h6 class="text-center text-white max-w-3xl mx-auto tracking-wider leading-7">
            Enjoy the unique dishes from the basilico restaurant that only our restaurant has, Fusce malesuada, lorem vitae euismod lobortis, purus justo sollicitudin tellus. 
        </h6>        
    </div>
</div>

<div class="menu-content-section xl:-mt-20 mt-20 mb-20">
    <div class="container mx-auto px-5">
        <div class="swiper menu_swiper">
            <div class="swiper-wrapper">
                @for(menu of Menus; track menu) {
                <div class="swiper-slide">
                    <div class="menu-card relative group">
                        <div class="image">
                            <img [src]="menu.image" />
                        </div>
                        <div class="content absolute w-11/12 bottom-4 left-1/2 transform -translate-x-1/2 px-5 sm:px-10 py-5 bg-[#0e1927] text-center overflow-hidden transition-all duration-1000 max-h-[88px] group-hover:max-h-[500px]">
                            <p class="tag text-orange-300 text-sm mb-2 sm:mb-4 invisible opacity-0 hidden group-hover:block group-hover:opacity-100 group-hover:visible transition-all duration-1000">{{ menu.tag }}</p>
                            <h4 class="price text-white font-medium text-2xl mb-2 sm:mb-4 invisible opacity-0 hidden group-hover:block group-hover:opacity-100 group-hover:visible transition-all duration-1000">{{ menu.price }}</h4>
                            <h5 class="name text-orange-300 uppercase tracking-wide text-sm sm:text-base">{{ menu.name }}</h5>
                            <p class="cate tracking-wide text-white text-sm sm:text-base">{{ menu.category }}</p>
                            <div class="line w-[1px] h-10 bg-orange-300 mx-auto my-2 invisible opacity-0 hidden group-hover:block group-hover:opacity-100 group-hover:visible transition-all duration-1000"></div>
                            <p class="text text-white text-sm sm:text-base tracking-wide invisible opacity-0 hidden group-hover:block group-hover:opacity-100 group-hover:visible transition-all duration-1000">
                                {{ menu.description }}
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="bg-[rgb(24,49,46)] py-20">
    <div class="container mx-auto px-5">
        <h5 class="text-orange-300 title inline-flex uppercase items-center justify-center w-full gap-3 relative text-base font-semibold tracking-widest text-center">TOP RATED DISHES</h5>
        <h2 class="text-white text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont mt-4">main menu</h2>

        <div class="grid md:grid-cols-2 gap-x-10 gap-y-5 mt-20">
            @for(food of foodMenu; track food) {
            <div class="food-menu overflow-hidden pb-4 cursor-pointer border-b border-orange-300 transition-all duration-500 flex items-center">
                <div class="flex items-center w-full">
                    <div class="food-img flex-auto opacity-0 invisible -ml-20 transition-all duration-500 me-2">
                        <img class="h-20 object-contain" [src]="food.image" />
                    </div>
                    <div class="food-name w-full transition-all duration-500">
                        <div class="flex items-center justify-between">
                            <h3 class="flex w-full me-8 capitalize text-orange-300 transition-all duration-500">
                                <a class="shrink-0 me-8 font-semibold">{{ food.foodName }}</a>
                                <span class="w-full h-[1px] mt-3 inline-block border border-dashed border-gray-300 transform -translate-y-1/2 transition-all duration-500"></span>
                            </h3>
                            <span class="text-lg text-orange-300">{{ food.foodPrice }}</span>
                        </div>
                        <p class="text-sm capitalize text-white">
                            {{ food.foodDescription }}
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="contact-section bg-white relative py-20">
    <div class="container mx-auto px-5">
        <h5 class="text-orange-300 title inline-flex uppercase items-center justify-center w-full gap-3 relative text-base font-semibold tracking-widest text-center">location</h5>
        <h2 class="text-black text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont my-4">how to find us? </h2>
        <h6 class="text-center text-black max-w-3xl mx-auto tracking-wider leading-7">
            It is inconvenient to not know the address, below is the address an contact of the Basilico restaurant 
        </h6>

        <div class="grid lg:grid-cols-3 gap-5 mt-20 items-center relative z-10">
            <div class="mx-auto flex">
                <img class="border border-orange-300 shrink-0 p-3 rounded-full overflow-hidden h-80 w-80 xl:w-96 xl:h-96 md:w-60 md:h-60 object-cover" src="images/banner-2.png" />
            </div>
            <div class="flex flex-col">
                <h6 class="text-center text-black tracking-wider uppercase">
                    call us book a table & delivery:
                </h6>
                <h2 class="text-black text-3xl md:text-4xl lg:text-5xl uppercase font-normal tracking-wider text-center font-titleFont my-4">978-212-8600</h2>
    
                <h6 class="text-center text-black tracking-wider uppercase mb-4">
                    information restaurant:
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer">
                    Address: 4517 Washington Ave. Manchester, Kentucky 39495, USA
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer my-1">
                    Mail: booking&#64;restoria.com
                </h6>
                <h6 class="text-gray-500 text-base text-center cursor-pointer">
                    Opening Hour: Mon - Fri : 9.00am - 9.00pm
                </h6>
                <button class="border border-orange-300 text-orange-300 px-8 py-2 mt-3 w-max mx-auto cursor-pointer hover:bg-orange-300 hover:text-black font-semibold transition-all duration-500">
                    Get Direction
                </button>
            </div>
            <div class="mx-auto">
                <iframe class="border border-orange-300 p-3 rounded-full overflow-hidden h-80 w-80 xl:w-96 xl:h-96 md:w-60 md:h-60 object-cover" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14881.084141082214!2d72.7678976!3d21.181389449999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1752755891613!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="right-bg-pattern absolute top-0 right-0 z-0 opacity-50">
        <img src="images/img4.png"/>
    </div>
    <div class="left-bg-pattern absolute bottom-0 left-0 z-0 opacity-50">
        <img src="images/img5.png"/>
    </div>
</div>